[Unit]
Description=Periodically reresolve DNS of all inactive systemd-networkd WireGuard endpoints

[Timer]
OnCalendar=*:*:0/30

[Install]
WantedBy=timers.target
